.skills-header {
    width: 100%;
    height: 150px;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    border-radius: 0 0 24px 24px;
}

.skills-header * {
    box-sizing: border-box;
}

.skills-header .stage {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills-header .skills-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills-header .skills-txt {
    margin: 0;
    font-size: 70px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -2px;
    color: white;
    text-align: center;

    text-shadow:
        0 0.05em 0 #000000,
        0 0.1em 0.1em rgba(70, 0, 35, 0.3),
        0 0.4em 0.3em rgba(70, 0, 35, 0.1);
}