@import url('https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  background-color: #EAE0CF;
  color: var(--textColor);
  transition: background-color 0.5s, color 0.5s;
}

.navbar {
  background-color: transparent;
  align-items: end;
  display: flex;
  justify-content: end;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  padding: 20px;
  
}

.nav-buttons {
  color: white;
}

.hero-text {
  width: auto;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.videoTag{
  border-radius: 0 0 8% 8% ;
}
.hero {
  border-radius: 0 0 9% 9%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline-header {
  color: #000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
}

.timeline-container {
  position: relative;
  min-height:100vh ;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s;
  background-repeat: no-repeat;
  z-index: 5;
}
.education-info{
  padding: 24px;
  border-radius: 24px 0 0 24px;
  color: #eeeeee;
  width: clamp(260px, 28vw, 420px);
  height: clamp(210px, 25vh, 280px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  transition: all 0.2s ease;
}

.flair{
position: absolute;
  top: 20px;
  width: 120px;
  z-index: 15;
}
.timelineCard {
  position: absolute;
  width: min(80vw);
  height: min(70vh);
  border-radius: 16px;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 1.5rem;
  background-size: cover;
  background-position: center;
  z-index: 5;
}

.playwrite-nz-basic {
  font-family: "Playwrite NZ Basic", cursive;
  font-optical-sizing: auto;
  font-weight: 48px;
  font-size: 48px;
  font-style: normal;
}
.footer {
  background-color: #000000;
  color: var(--footerTextColor);
  transition: background-color 0.5s, color 0.5s;
  position: relative;
  bottom: 0;
  width: 100%;
}
.container-skills{
 margin: 150px 64px;
}
@media screen and (max-width: 768px) {
    .media-content{
      overflow-x: unset;
    }}
.skills-text{
  color: white;
}